:root {
    /* Dark theme defaults */
    --bg-color: #0a192f; /* Deep navy */
    --primary-color: #00b4d8; /* Bright teal */
    --primary-color2: #023e8a; /* Indigo */
    --secondary-color: #48cae4; /* Lighter teal */
    --menu-color1: #9b5de5; /* Soft purple */
    --text-color1: #ccd6f6; /* Light gray */
    --text-color: #ccd6f6; /* Light gray */
    --text-color-2: #ccd6f6; /* Light gray, could adjust if needed */
    --text-color-3: #0077b6; /* Blue */
    --overlay-color: rgba(10,25,47,0.63); /* Transparent deep navy */
}

[data-theme="light"] {
    /* Light theme overrides */
    --bg-color: #f8f9fa; /* Very light gray */
    --primary-color: #90e0ef; /* Sky blue */
    --primary-color2: #ade8f4; /* Soft sky blue */
    --secondary-color: #caffbf; /* Soft lime */
    --menu-color1: #f15bb5; /* Lavender */
    --text-color: #495057; /* Dark slate gray */
    --text-color-2: #495057; /* Dark slate gray */
    --text-color-3: #fcbf49; /* Soft orange */
    --overlay-color: rgba(248,249,250,0.70); /* Slightly transparent light gray */
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 60px;
    border-left: 10px solid var(--primary-color);
    border-right: 10px solid var(--primary-color);
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Marcellus;
}

a, a:hover {
    color: var(--text-color);
}

p {
    word-break: break-word;
    hyphens: auto;
}

.ovhidden {
    overflow: hidden;
}

.text_2, .text_2:hover {
    color: var(--text-color-2);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cursor__dot div {
    z-index: 999999 !important;
}

.cursor__dot div:last-child {
    background-color: var(--primary-color2) !important;
}

.cursor__dot div:first-child {
    filter: invert(1);
    background-color: var(--overlay-color) !important;
}

.color_pr {
    color: var(--primary-color) !important;
}

.color_sec {
    color: var(--secondary-color);
}